 <!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>

<body style="background: no-repeat url('static/background.jpg') fixed; background-size: cover;">

    <div style="text-align: right; width: 30%; color: #444;">
	<h1 id="clock"></h1>
	<h2 id="weather"></h2>
	<h2 id="forecast"></h2>

	<h2>
	    <div id="ratp-missions">
    	<div style="margin-top: 20px; margin-bottom:5px; text-align: center; height: 30px; width: 65%; display: inline-block; color: #fbe29b; font-weight: 200; background-color: #423e34">Ponts de Sèvres</div><div style="background-color: #ff3600; width: 60px; height: 30px; display: inline-block; color: black; text-align: center;">171</div><br/>
		<span class="171" style="margin-top:25px;">NA</span><br/>
	    </div>

	</h2><br/><br/>
    </div>

    <script>
      const handledMissions = {{ missions|safe }}
      const apiVersion = '{{ api_version|safe }}'

      function setClock() {
	  const now = new Date()
	  const daysName = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']

	  $('#clock').html(daysName[now.getDay()] + ' ' + now.getDate() + '<br />' + ('0'+now.getHours()).slice(-2) + ':' + ('0'+now.getMinutes()).slice(-2))
      }

      function getNextMissions() {
	  $.get('/ratp').done((data, t, req) => {
	      if(req.getResponseHeader('API-VERSION') != apiVersion) {
	          location.reload()
	      }

	      for(mission of handledMissions) {
		  let missions = 'NA'

		  if (!(mission in data))
		      continue

		  if (data[mission].length > 0 && data[mission][0].message.slice(-2) === 'mn')
		      missions = data[mission][0].message.slice(0, -2)
		  else if (data[mission].length > 0)
		      missions = data[mission][0].message

		  if (data[mission].length == 1 && data[mission][0].message.slice(-2) === 'mn')
		      missions += ' min'

		  if (data[mission].length > 1 && data[mission][1].message.slice(-2) === 'mn')
		      missions += ' / ' + data[mission][1].message.slice(0, -2) + ' min'
		  else if (data[mission].length > 1 && data[mission][1].message != "..................")
		      missions += ' / ' + data[mission][1].message

		  $('#ratp-missions .' + mission).text(missions)
	      }
	  })
      }

      function getWeather() {
	  $.get('/weather').done((data, t, req) => {
	      if(req.getResponseHeader('API-VERSION') != apiVersion) {
	          location.reload()
	      }

	      const current = data.current
	      const owm = data.owm
	      const forecast = data.forecast[0]

	      let current_temp
              // Handle netatmo's outage
	      if (current == false) {
	          current_temp = '~' + Math.round(owm.temp)
              } else {
	          current_temp = Math.round(current.temperature)
	      }

	      let time_display
	      const hour = (new Date ()).getHours()
	      if (hour < 5) {
		  time_display = 'Ce matin'
	      } else if (hour < 12) {
		  time_display = 'Cet aprem'
	      } else if (hour < 17) {
		  time_display = 'Ce soir'
	      } else if (hour < 24) {
		  time_display = 'Cette nuit'
	      } else {
		  time_display = 'Cet aprem'
	      }

	      const weather_display = current_temp + '°C, ' +  owm.weather
	      const forecast_display = time_display + ' ' + Math.round(forecast.temp) + '°C, ' +  forecast.weather
	      $('#weather').text(weather_display)
	      $('#forecast').text(forecast_display)
	  })
      }

      setClock()
      setInterval(setClock, 1000)

      getNextMissions()
      setInterval(getNextMissions, 30000)

      getWeather()
      setInterval(getWeather, 30000)
    </script>
</body>
</html>
